.u-section-1 {min-height: 1030px}
.u-section-1 .u-image-1 {height: 998px; margin-top: 0; margin-bottom: 0; margin-left: 0; object-position: 0% 0%; background-position: 0% 0%}
.u-section-1 .u-image-2 {width: 637px; height: 600px; object-position: 50% 6.59%; background-position: 50% 6.59%; margin: -888px calc(((100% - 1140px) / 2)) 0 auto}
.u-section-1 .u-layout-wrap-1 {width: 1140px; margin: -81px auto 0}
.u-section-1 .u-layout-cell-1 {min-height: 363px; background-image: none}
.u-section-1 .u-group-1 {width: 336px; min-height: 302px; box-shadow: 0 0 40px 0 rgba(0,0,0,0.25); background-image: none; margin: 15px auto}
.u-section-1 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-text-1 {font-size: 2.25rem; font-weight: normal; margin: 62px 0 0}
.u-section-1 .u-text-2 {margin: 24px 0 0}
.u-section-1 .u-icon-1 {height: 36px; width: 36px; margin: 30px auto 30px 0}
.u-section-1 .u-layout-cell-2 {background-image: none; min-height: 363px}
.u-section-1 .u-group-2 {width: 336px; min-height: 302px; box-shadow: 0 0 40px 0 rgba(0,0,0,0.25); background-image: none; margin: 15px auto}
.u-section-1 .u-container-layout-4 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-text-3 {font-size: 2.25rem; margin: 0}
.u-section-1 .u-text-4 {margin: 24px -12px 0 12px}
.u-section-1 .u-icon-2 {height: 36px; width: 36px; margin: 30px auto 0 0}
.u-section-1 .u-layout-cell-3 {background-image: none; min-height: 363px}
.u-section-1 .u-group-3 {width: 336px; min-height: 302px; box-shadow: 0 0 40px 0 rgba(0,0,0,0.25); background-image: none; margin: 15px auto}
.u-section-1 .u-container-layout-6 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-text-5 {font-size: 2.25rem; margin: 49px 0 0}
.u-section-1 .u-text-6 {margin: 24px 0 0}
.u-section-1 .u-icon-3 {height: 36px; width: 36px; margin: 30px auto 30px 0}
.u-section-1 .u-group-4 {width: 611px; min-height: 519px; margin: -870px auto 60px calc(((100% - 1140px) / 2))}
.u-section-1 .u-container-layout-7 {padding-left: 0; padding-right: 20px}
.u-section-1 .u-text-7 {font-size: 4.5rem; font-weight: normal; margin: -70px 70px 0 -70px}
.u-section-1 .u-text-8 {font-size: 1.25rem; font-weight: 500; margin: 0 70px 0 -70px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 887px}
.u-section-1 .u-image-1 {height: 955px; margin-left: initial}
.u-section-1 .u-image-2 {width: 538px; height: 572px; margin-top: -783px; margin-right: calc(((100% - 1140px) / 2) + 100px)}
.u-section-1 .u-layout-wrap-1 {width: 940px; margin-top: -89px; margin-left: calc(((100% - 1140px) / 2) + 100px)}
.u-section-1 .u-layout-cell-1 {min-height: 299px}
.u-section-1 .u-group-1 {width: 277px; height: auto}
.u-section-1 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-layout-cell-2 {min-height: 299px}
.u-section-1 .u-group-2 {width: 277px; height: auto}
.u-section-1 .u-container-layout-4 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-1 .u-layout-cell-3 {min-height: 299px}
.u-section-1 .u-group-3 {width: 277px; height: auto}
.u-section-1 .u-container-layout-6 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-group-4 {width: 447px; min-height: 397px; height: auto; margin-top: -932px; margin-left: calc(((100% - 1140px) / 2) + 100px)}
.u-section-1 .u-container-layout-7 {padding-right: 16px}
.u-section-1 .u-text-7 {margin-left: 0; margin-right: 0; position: relative; font-size: 3.75rem}
.u-section-1 .u-text-8 {margin-left: 0; margin-right: 0; position: relative} }

@media (max-width: 991px){ .u-section-1 {min-height: 522px}
.u-section-1 .u-image-1 {height: 926px; margin-left: initial}
.u-section-1 .u-image-2 {width: 417px; height: 465px; margin-top: -648px; margin-right: calc(((100% - 1140px) / 2) + 210px)}
.u-section-1 .u-layout-wrap-1 {width: 720px; margin-top: -88px; margin-left: calc(((100% - 1140px) / 2) + 210px)}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-group-1 {width: 212px}
.u-section-1 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-text-1 {font-size: 1.5rem}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-group-2 {width: 212px}
.u-section-1 .u-container-layout-4 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-text-3 {font-size: 1.5rem}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-group-3 {width: 212px}
.u-section-1 .u-container-layout-6 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-text-5 {font-size: 1.5rem}
.u-section-1 .u-group-4 {width: 622px; min-height: 389px; margin-top: -1001px; margin-left: calc(((100% - 1140px) / 2) + 210px)}
.u-section-1 .u-container-layout-7 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-text-7 {font-size: 4.5rem; margin-top: 28px}
.u-section-1 .u-text-8 {margin-top: 18px} }

@media (max-width: 767px){ .u-section-1 {min-height: 701px}
.u-section-1 .u-image-1 {height: 1006px; margin-left: initial}
.u-section-1 .u-image-2 {height: 464px; margin-top: -531px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-layout-wrap-1 {width: 540px; margin-left: calc(((100% - 1140px) / 2) + 300px)}
.u-section-1 .u-group-1 {width: 500px; min-height: 353px}
.u-section-1 .u-container-layout-2 {padding-left: 65px; padding-right: 64px}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin-top: 35px}
.u-section-1 .u-icon-1 {margin-bottom: 35px}
.u-section-1 .u-group-2 {width: 500px; min-height: 353px}
.u-section-1 .u-container-layout-4 {padding-left: 65px; padding-right: 65px}
.u-section-1 .u-text-3 {font-size: 2.25rem; margin-top: 35px}
.u-section-1 .u-icon-2 {margin-bottom: 35px}
.u-section-1 .u-group-3 {width: 500px; min-height: 353px}
.u-section-1 .u-container-layout-6 {padding-left: 65px; padding-right: 65px}
.u-section-1 .u-text-5 {font-size: 2.25rem; margin-top: 35px}
.u-section-1 .u-icon-3 {margin-bottom: 35px}
.u-section-1 .u-group-4 {min-height: 397px; margin-top: -2022px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-7 {padding-left: 9px; padding-right: 9px}
.u-section-1 .u-text-7 {margin-top: 20px; margin-bottom: 20px}
.u-section-1 .u-text-8 {margin-top: 20px} }

@media (max-width: 575px){ .u-section-1 {min-height: 1830px}
.u-section-1 .u-image-1 {height: 1026px; margin-left: initial}
.u-section-1 .u-image-2 {height: 396px; width: 413px; margin-top: -654px; margin-right: auto; margin-left: calc(((100% - 340px) / 2) + -13px)}
.u-section-1 .u-layout-wrap-1 {width: 340px; margin-top: -12px; margin-left: auto}
.u-section-1 .u-group-1 {width: 300px; min-height: 310px; margin-top: 12px; margin-bottom: 12px}
.u-section-1 .u-container-layout-2 {padding-left: 32px; padding-right: 32px}
.u-section-1 .u-text-1 {font-size: 1.875rem; margin-top: 30px}
.u-section-1 .u-icon-1 {margin-bottom: 30px}
.u-section-1 .u-group-2 {width: 300px; min-height: 310px; margin-top: 12px; margin-bottom: 12px}
.u-section-1 .u-container-layout-4 {padding-left: 32px; padding-right: 32px}
.u-section-1 .u-text-3 {font-size: 1.875rem; margin-top: 30px}
.u-section-1 .u-icon-2 {margin-bottom: 30px}
.u-section-1 .u-group-3 {width: 292px; min-height: 310px; margin-top: 25px; margin-bottom: 25px}
.u-section-1 .u-container-layout-6 {padding-left: 32px; padding-right: 32px}
.u-section-1 .u-text-5 {font-size: 1.875rem; margin-top: 30px}
.u-section-1 .u-icon-3 {margin-bottom: 30px}
.u-section-1 .u-group-4 {min-height: 423px; margin-top: -1788px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-7 {padding-left: 6px; padding-right: 6px}
.u-section-1 .u-text-7 {font-size: 3rem; font-weight: 700; margin-top: -6px; margin-bottom: 0}
.u-section-1 .u-text-8 {margin-top: 12px} }.u-section-2 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 126px}
.u-section-2 .u-text-1 {text-transform: uppercase; font-weight: 700; font-size: 6rem; margin: 14px 803px 14px 0} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-right: 603px} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {margin-right: 383px} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {margin-right: 203px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 100px}
.u-section-2 .u-text-1 {font-size: 4.5rem; width: 239px; margin: 11px auto} }.u-section-3 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-3 .u-shape-1 {width: 326px; height: 296px; margin: 159px auto 0}
.u-section-3 .u-layout-wrap-1 {width: 326px; margin: -383px auto 0 7px}
.u-section-3 .u-layout-cell-1 {background-image: none; min-height: 458px}
.u-section-3 .u-container-layout-1 {padding-left: 20px}
.u-section-3 .u-shape-2 {width: 213px; height: 432px; margin: 482px auto 0 48px}
.u-section-3 .u-image-1 {width: 314px; height: 349px; margin: -973px auto 0 0}
.u-section-3 .u-text-1 {font-weight: 700; width: auto; margin: -8px 3px 0 -2px}
.u-section-3 .u-text-2 {font-size: 1.25rem; margin: 0}
.u-section-3 .u-layout-cell-2 {background-image: none; min-height: 458px}
.u-section-3 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-image-2 {width: 319px; height: 295px; margin: -27px 0 0 auto}
.u-section-3 .u-text-3 {font-weight: 700; margin: -7px 0 0}
.u-section-3 .u-text-4 {font-size: 1.25rem; margin: 20px 0 0}
.u-section-3 .u-layout-cell-3 {background-image: none; min-height: 425px}
.u-section-3 .u-container-layout-3 {padding-right: 20px}
.u-section-3 .u-shape-3 {width: 255px; height: 362px; margin: 0 auto}
.u-section-3 .u-image-3 {width: 295px; height: 317px; margin: -414px auto 0 0}
.u-section-3 .u-text-5 {font-weight: 700; margin: -15px 0 0 20px}
.u-section-3 .u-text-6 {font-size: 1.25rem; margin: 14px 0 0 158px}
.u-section-3 .u-layout-cell-4 {background-image: none; min-height: 425px}
.u-section-3 .u-container-layout-4 {padding-left: 20px}
.u-section-3 .u-shape-4 {width: 408px; left: auto; right: 0}
.u-section-3 .u-image-4 {width: 326px; height: 276px; margin: -40px 20px 0 auto}
.u-section-3 .u-text-7 {font-weight: 700; margin: -209px 20px 0 0}
.u-section-3 .u-text-8 {font-size: 1.25rem; margin: 21px 220px 14px 0}
.u-section-3 .u-layout-cell-5 {min-height: 380px}
.u-section-3 .u-container-layout-5 {padding-left: 20px; padding-right: 596px}
.u-section-3 .u-shape-5 {width: 605px; right: auto; margin-bottom: 0}
.u-section-3 .u-image-5 {width: 400px; height: 400px; margin: -116px -551px 0 auto}
.u-section-3 .u-text-9 {font-weight: 700; margin: -197px 0 0}
.u-section-3 .u-text-10 {font-size: 1.25rem; margin: 13px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-container-layout-1 {padding-left: 16px}
.u-section-3 .u-shape-2 {margin-top: initial; margin-bottom: initial; height: auto}
.u-section-3 .u-text-1 {margin-right: 0; margin-left: 0}
.u-section-3 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-image-2 {width: 263px}
.u-section-3 .u-container-layout-3 {padding-right: 16px}
.u-section-3 .u-shape-3 {width: 210px}
.u-section-3 .u-image-3 {width: 243px}
.u-section-3 .u-text-5 {margin-left: 16px}
.u-section-3 .u-text-6 {margin-left: 130px}
.u-section-3 .u-container-layout-4 {padding-left: 16px}
.u-section-3 .u-shape-4 {width: 337px}
.u-section-3 .u-image-4 {width: 269px; margin-right: 16px}
.u-section-3 .u-text-7 {margin-right: 16px}
.u-section-3 .u-text-8 {margin-right: 181px}
.u-section-3 .u-container-layout-5 {padding-left: 17px; padding-right: 492px}
.u-section-3 .u-shape-5 {width: 498px; left: 150px; margin-bottom: initial}
.u-section-3 .u-image-5 {width: 329px; margin-right: -455px} }

@media (max-width: 991px){ .u-section-3 .u-layout-cell-1 {min-height: 502px}
.u-section-3 .u-container-layout-1 {padding-left: 13px}
.u-section-3 .u-image-1 {width: 309px; height: 343px}
.u-section-3 .u-text-1 {margin-top: -2px}
.u-section-3 .u-layout-cell-2 {min-height: 502px}
.u-section-3 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-3 .u-image-2 {width: 201px}
.u-section-3 .u-layout-cell-3 {min-height: 469px}
.u-section-3 .u-container-layout-3 {padding-right: 13px}
.u-section-3 .u-shape-3 {width: 161px}
.u-section-3 .u-image-3 {width: 186px}
.u-section-3 .u-text-5 {margin-left: 13px}
.u-section-3 .u-text-6 {margin-left: 99px}
.u-section-3 .u-layout-cell-4 {min-height: 469px}
.u-section-3 .u-container-layout-4 {padding-left: 13px}
.u-section-3 .u-shape-4 {width: 258px}
.u-section-3 .u-image-4 {width: 206px; margin-top: 62px; margin-right: 10px}
.u-section-3 .u-text-7 {margin-top: -310px; margin-right: 13px}
.u-section-3 .u-text-8 {margin-right: 139px}
.u-section-3 .u-layout-cell-5 {min-height: 424px}
.u-section-3 .u-container-layout-5 {padding-left: 13px; padding-right: 377px}
.u-section-3 .u-shape-5 {width: 382px; left: 115px; margin-bottom: initial}
.u-section-3 .u-image-5 {width: 252px; margin-right: -348px} }

@media (max-width: 767px){ .u-section-3 .u-container-layout-1 {padding-left: 9px}
.u-section-3 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-3 .u-image-2 {width: 338px}
.u-section-3 .u-container-layout-3 {padding-right: 9px}
.u-section-3 .u-shape-3 {width: 151px}
.u-section-3 .u-image-3 {width: 297px}
.u-section-3 .u-text-5 {margin-left: 9px}
.u-section-3 .u-text-6 {margin-left: 75px}
.u-section-3 .u-container-layout-4 {padding-left: 9px}
.u-section-3 .u-shape-4 {width: 242px; left: -9px; right: auto}
.u-section-3 .u-image-4 {width: 193px; margin-top: 110px; margin-right: 61px}
.u-section-3 .u-text-7 {margin-top: -359px; margin-right: 9px}
.u-section-3 .u-text-8 {margin-right: 104px}
.u-section-3 .u-layout-cell-5 {min-height: 562px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 282px}
.u-section-3 .u-shape-5 {width: 358px; left: 86px; margin-bottom: initial}
.u-section-3 .u-image-5 {width: 237px; margin-right: -261px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 336px}
.u-section-3 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-shape-2 {height: 432px; margin-top: 482px; margin-bottom: 0; left: auto; bottom: auto; right: auto; top: auto}
.u-section-3 .u-image-1 {width: 314px; height: 349px}
.u-section-3 .u-text-1 {margin-top: -8px; margin-right: 3px; margin-left: -2px}
.u-section-3 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-image-2 {width: 283px; margin-top: -51px; margin-right: auto; margin-left: 48px}
.u-section-3 .u-text-3 {margin-top: 37px}
.u-section-3 .u-text-4 {margin-top: 0}
.u-section-3 .u-container-layout-3 {padding-right: 6px}
.u-section-3 .u-shape-3 {width: 279px; margin-right: -6px}
.u-section-3 .u-image-3 {width: 272px; margin-top: -429px; margin-left: -5px}
.u-section-3 .u-text-5 {margin-top: 0; margin-left: 6px}
.u-section-3 .u-text-6 {margin-left: 47px}
.u-section-3 .u-container-layout-4 {padding-left: 6px}
.u-section-3 .u-shape-4 {width: 290px; left: auto; right: 13px}
.u-section-3 .u-image-4 {width: 237px; margin-top: -34px; margin-right: 13px}
.u-section-3 .u-text-7 {width: auto; margin-top: -20px; margin-right: -25px; margin-left: 32px}
.u-section-3 .u-text-8 {width: 255px; margin: 12px 33px 0}
.u-section-3 .u-layout-cell-5 {min-height: 628px}
.u-section-3 .u-container-layout-5 {padding-left: 6px; padding-right: 0}
.u-section-3 .u-shape-5 {width: 324px; height: 409px; left: auto; bottom: auto; right: auto; top: auto; margin: 0 auto 0 -6px}
.u-section-3 .u-image-5 {width: 307px; margin-top: -486px; margin-right: auto; margin-left: 0}
.u-section-3 .u-text-9 {width: auto; margin-top: -31px; margin-right: 20px}
.u-section-3 .u-text-10 {width: auto; margin-top: 12px} }.u-section-4 {background-image: linear-gradient(to right, #8b008b, #8b008b)}
.u-section-4 .u-sheet-1 {min-height: 363px}
.u-section-4 .u-text-1 {letter-spacing: 2px; font-weight: 700; font-size: 3rem; width: 627px; margin: 60px auto 0}
.u-section-4 .u-btn-1 {border-style: solid; background-image: none; text-transform: uppercase; letter-spacing: 2px; font-size: 0.875rem; margin: 20px auto 60px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 299px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 229px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 172px}
.u-section-4 .u-text-1 {width: 540px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 262px}
.u-section-4 .u-text-1 {width: 340px; margin-top: 20px}
.u-section-4 .u-btn-1 {margin-bottom: 20px} }